.container{
  -webkit-box-shadow: 0 8px 6px -6px #999;
  -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 5px 8px 6px -6px #999;
  
}

.heroText{ 
  color:white;
  padding: 10px;
  border: solid white 4px;
  width: 100%;
  background-color: rgba(0,0,0,0.2);

}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}