body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
  }
  


*{transition:all 0.3s ease-in-out;}

.navbar{
  clear:both;
  overflow:auto;
  background-color: #000;
  -webkit-box-shadow: 0 8px 6px -6px #000;
  -moz-box-shadow: 0 8px 6px -6px #000;
  box-shadow: 10px 8px 6px -6px #000;
  margin: auto; 
  top: 0em;

}

.navbar nav{
  
    float: none;  
    text-align: center;
    
}
.navbar a{
  text-decoration: none;
  color: rgb(184, 119, 21);
  padding: 0px 30px;
  vertical-align: super;
}
.navbar a:hover{
  /* text-decoration: none; */
  background-color: rgba(255, 255, 255, 0.2);
}


ul li{
  margin:0 auto;
  list-style:none;
  display: inline-block; 
  padding:10px;
  font-size:20px; 
  font-family:raleway;
  text-align: top;
  
  
  
}
@media screen and (max-width: 768px) {
  .navbar a{
    display: inline-block;
  }
}