*, html, body{
    font-family: 'Roboto', sans-serif;
    
    
}
body{
    background-color: #e69447;
    min-height: 100vh;

}

.contentArea{
   
        width: 80%;
        height: 100%;
        background-color:rgba(255, 255, 255, 0.849);
        align-self: center;
        margin: auto;
        position: relative;
        
    
    
}

.contentArea img{
    margin: auto;
}

#content p {
    padding: 20px;
}

/* h1{
    color: black;
}

p{
    color: black;
} */